.cardinfo {
    width: 100%;
    background-color: rgb(0, 60, 0);
    color: rgb(182, 214, 182);
    padding: 2% 0;
    h1 {
        text-align: center;
        font-size: 40px;
    }
    h3 {
        text-align: center;
        font-size: 30px;
    }
}

// .grid {
//     width: 100%;
//     background-color: green;
//     color: rgb(182, 214, 182);
//     margin: 0 auto;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-around;
// }

.grid {
    width: 100%;
    background-color: green;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 5px;

    
    .cardcontainer {
        background-color: greenyellow;
        width: 100%;
        max-width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        // border: 1px solid black;
        position: relative;


        .cardfront {
            max-width: 100px;
            // position: absolute;
            top: 15px;
            // left: 0;
        }

        .cardback {
            max-width: 100px;
            border-radius: 7px;
            // position: absolute;
            // z-index: 1;
            cursor: pointer;
            // visibility: hidden;

            &:active {
                z-index: -1;
            }
        }
    }


}