@import "./Global.module.scss";

.Body {
    width: 100%;
    background-color: $tertiarydarkmed;
    background-image: url("../public/images/always-grey.png");
    margin: 0 auto;
    height: 75px;
    position: relative;
    border: 0.5px solid #c23da87c;

    .Title {
        width: 80%;
        // background-color: red;
        @include combo2;
        margin: 0 auto;
        h1 {
            font-size: 50px;
            text-align: center;
        }
    }

    .NavLinks {
        width: 100%;
        // background-color: salmon;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap ;
        justify-content: space-between;
        padding: 0 2%;
        position: absolute;
        bottom: 5px;
        // color: $tertiarylight;

        a {
            color: $tertiarylight;

            &:hover {
                color: $primarylight;
            }
        }


    }
    
}



