.home {
  width: 100%;
  background-color: red;
  height: 100vh;
  position: relative;

  .main {
    width: 100%;
    position: relative;
    background-color: green;
    margin: 0 auto;
   
  
    h1 {
      font-size: 40px;
      padding-top: 2%;
      text-align: center;
    }
  
    .rules {
      width: 80%;
      background-color: pink;
      margin: 5% auto 0 auto;
      font-size: 16px;
  
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    margin-top: 500px;
    
  }

}


